<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>catalog.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F50AD5522C05742D0033DEA2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F50AD5622C05742F0033DEA2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F50AD56C2C05742F0033DEA2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
